{% extends "layout.html" %}

{% block title %}
    Apology
{% endblock %}

{% block main %}
    <div class= "container">
        <div class="row">
            <div class="col-6">
                    <img alt="{{ top }}" class="border" src="https://memegen.link/custom/{{ top | urlencode }} / {{ bottom | urlencode }}.jpg?alt=https://oyster.ignimgs.com/wordpress/stg.ign.com/2018/07/ledger-joker-1-720x388.jpg&font=opensans-extrabold" title="{{ top }}">
            </div>
            <div class="col-6">
                    <img alt="{{ top }}" class="border" src="https://memegen.link/custom/{{ top | urlencode }} / {{ bottom | urlencode }}.jpg?alt=https://oyster.ignimgs.com/wordpress/stg.ign.com/2018/07/ledger-joker-1-720x388.jpg&font=opensans-extrabold" title="{{ top }}">
            </div>    
                
        </div>
        <div class="row">
                <div class="col-6">
                        <img alt="{{ top }}" class="border" src="https://memegen.link/custom/{{ top | urlencode }} / {{ bottom | urlencode }}.jpg?alt=https://oyster.ignimgs.com/wordpress/stg.ign.com/2018/07/ledger-joker-1-720x388.jpg&font=opensans-extrabold" title="{{ top }}">
                </div>
                <div class="col-6">
                        <img alt="{{ top }}" class="border" src="https://memegen.link/custom/{{ top | urlencode }} / {{ bottom | urlencode }}.jpg?alt=https://oyster.ignimgs.com/wordpress/stg.ign.com/2018/07/ledger-joker-1-720x388.jpg&font=opensans-extrabold" title="{{ top }}">
                </div>    
                    
            </div>
            <div class="row">
                    <div class="col-6">
                            <img alt="{{ top }}" class="border" src="https://memegen.link/custom/{{ top | urlencode }} / {{ bottom | urlencode }}.jpg?alt=https://oyster.ignimgs.com/wordpress/stg.ign.com/2018/07/ledger-joker-1-720x388.jpg&font=opensans-extrabold" title="{{ top }}">
                    </div>
                    <div class="col-6">
                            <img alt="{{ top }}" class="border" src="https://memegen.link/custom/{{ top | urlencode }} / {{ bottom | urlencode }}.jpg?alt=https://oyster.ignimgs.com/wordpress/stg.ign.com/2018/07/ledger-joker-1-720x388.jpg&font=opensans-extrabold" title="{{ top }}">
                    </div>    
                        
                </div>
                <div class="row">
                        <div class="col-6">
                                <img alt="{{ top }}" class="border" src="https://memegen.link/custom/{{ top | urlencode }} / {{ bottom | urlencode }}.jpg?alt=https://oyster.ignimgs.com/wordpress/stg.ign.com/2018/07/ledger-joker-1-720x388.jpg&font=opensans-extrabold" title="{{ top }}">
                        </div>
                        <div class="col-6">
                                <img alt="{{ top }}" class="border" src="https://memegen.link/custom/{{ top | urlencode }} / {{ bottom | urlencode }}.jpg?alt=https://oyster.ignimgs.com/wordpress/stg.ign.com/2018/07/ledger-joker-1-720x388.jpg&font=opensans-extrabold" title="{{ top }}">
                        </div>    
                            
                    </div>
                                
        
    </div>
    
{% endblock %}

