{% extends "layout.html" %}

{% block heading %}Login{% endblock %}

{% block main %}
 
  <div class="container login">
     
      <h2>Please Sign In:</h2>
      <form action="/login" method="post">
        <div class="form-group">
            <input autocomplete="off" autofocus class="form-control" name="username" placeholder="Username" type="text"/>
        </div>
        <div class="form-group">
            <input class="form-control" name="password" placeholder="Password" type="password"/>
        </div>
        <button class="btn btn-dark btn-lg" type="submit">Log In</button>
      </form>
      <br>
      <hr class="my-3">
      <p>Don't have an account with us?
      Make one here:</p>
      <a class="btn btn-dark" href="/register" role="button">Register</a>

  </div>


{% endblock %}